@{
    ViewData["Title"] = "Confirmação de esquecimento";
}


<div class="bloc bgc-desert-sand" id="bloc-8">
    <div class="container bloc-md">
        <h2>@ViewData["Title"]</h2>
        <p>
            Por favor, verique seu email para confirmar sua senha.
        </p>
    </div>
</div>