
@{
    ViewData["Title"] = "MeuBrassa";
}

<div class="bloc bgc-desert-sand" id="bloc-8">
    <div class="container bloc-md">
        <div class="row">
            <div class="col-sm-12">
                <form id="form_1" novalidate success-msg="Your message has been sent." fail-msg="Sorry it seems that our mail server is not responding, Sorry for the inconvenience!">
                    <h3 class="mg-md">
                        Este espaço está sendo desenvolvido
                    </h3>
                    <br />
                    <h4>Obrigado por se cadastrar</h4>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- bloc-8 END -->
